@charset "utf-8";

@import "imports";
@import "woz";
@import "settings";
@import "lessons";

body {
  padding-top: $fixed-nav-padding;
}

h1, h2, h3{
  font-family: $font-family-display;
}

h4,h5,h6{
  font-family: $font-family-sans-serif;
}

h4, h5{
  font-weight: bold;
}

h5{
  font-size: 1.3em;
}

h6{
  font-size: 1.2em;
}

p{
  font-size: 1.1em;
}

pre.highlight{
  background: $code-bg-color;
}