---
title: Favorite Manatees
---


h3 Amazonian
p The freshwater Amazonian manatee (T. inunguis) inhabits the Amazon River and its tributaries, and never ventures into salt water.

h3 West African
p They are found in coastal marine and estuarine habitats, and in freshwater river systems along the west coast of Africa from the Senegal River south to the Kwanza River in Angola, including areas in Gambia, Liberia, Guinea-Bissau, Guinea, Sierra Leone, Côte d'Ivoire, Ghana, Mali, Nigeria, Cameroon, Gabon, Republic of the Congo, and Democratic Republic of the Congo.
p They live as far upriver on the Niger River as Gao, Mali.