---
title: Favorite Manatees
---


h3 Amazonian
p The freshwater Amazonian manatee (T. inunguis) inhabits the Amazon River and its tributaries, and never ventures into salt water.


section.sec
    = project_rocco_html('ruby-to-web/scripts/001-basic-open-file.rb')
