$font-size-base:        15px !default;
$text-color:            #333 !default;



$font-family-sans-serif:  "museo-sans", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif:       "Droid Serif", Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base:        $font-family-sans-serif !default;
$font-family-display: "adelle", $font-family-serif !default;

