---
title: About Manatees
---

p Manatees (family Trichechidae, genus Trichechus) are large, fully aquatic, mostly herbivorous marine mammals sometimes known as sea cows. There are three accepted living species of Trichechidae, representing three of the four living species in the order Sirenia: the Amazonian manatee (Trichechus inunguis), the West Indian manatee (Trichechus manatus), and the West African manatee (Trichechus senegalensis). They measure up to 13 feet (4.0 m) long, weigh as much as 1,300 pounds (590 kg),[1] and have paddle-like flippers. The name manatí comes from the Taíno, a pre-Columbian people of the Caribbean, meaning "breast".[2][dead link]


p Manatees inhabit the shallow, marshy coastal areas and rivers of the Caribbean Sea and the Gulf of Mexico (T. manatus, West Indian manatee), the Amazon Basin (T. inunguis, Amazonian manatee), and West Africa (T. senegalensis, West African manatee).[17]


p: a href="http://en.wikipedia.org/wiki/Manatee" Read more